@{
    ViewData["Title"] = "Home Page";
}

@model IList<Daily_Cash_Trading_Limits.Models.BankTradingInfo>;

<div class="text-center">
    <h1 class="display-4">Daily Trading Limits</h1>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Total Assets</th>
                <th>Calculated Limit</th>
                <th>Date Applied</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (BankTradingInfo bank in Model)
                {
                    if (bank.Approved == true)
                    {
                        <tr class="table__row">
                            <td>@bank.BankName</td>
                            <td>@bank.Rating</td>
                            <td>@bank.TotalAssets</td>
                            <td>@bank.CalculatedLimit</td>
                            <td>@bank.DateApplied</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

