@{
    ViewData["Title"] = "Home Page";
}

@model IList<Daily_Cash_Trading_Limits.Models.BankTradingInfoModel>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Total Assets</th>
                <th>Calculated Limit</th>
                <th>Date Applied</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (BankTradingInfoModel bank in Model)
                {
                    <tr>
                        <td>@bank.BankName</td>
                        <td>@bank.Rating</td>
                        <td>@bank.TotalAssets</td>
                        <td>@bank.CalculatedLimit</td>
                        <td>@bank.DateApplied</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!--
    public class BankTradingInfoModel
    {
        public string bankName { get; set; }

        public int rating { get; set; }

        public long totalAssets { get; set; }

        public long calculatedLimit { get; set; }

        public DateTime date { get; set; }
    }
-->
